# ignore my git update script
update_git.py
transporter.py

# ignore hidden folders
.storage
.cloud
.aarlo
.google.token

# ignore some directories.
icloud/

/tts/
/deps/
/hadashboards/
/intents/
/themes/
/custom_components
/deps
/hacs
/www/community
/www/mail_and_packages


# ignore any of these files no matter where they are using double *
**.DS_Store
**._*
**.HA_VERSION
**.pyc
**.conf
**.uuid
**.txt
**.log
**.db
**.sqlite
**.xml
**secrets*
**known_devices.yaml
**google_calendars.yaml
**ip_bans.yaml
**.spotify-token-cache
**zones.yaml
**test.yaml
**testing.yaml
**.homekit*
**.vscode
**.pid
**.xml
**.csr
**.crt
**.key
**core.*
**OZW_Log.txt
**home-assistant.log*
**home-assistant_v2.db*
**.db-journal
**.db-shm
**.db-wal
**.sqlite
**__pycache__
**phue.conf 
**ios.conf
**pyozw.sqlite
**ipchange.yaml
**production_auth.json
**automations.yaml
**scenes.yaml
**scripts.yaml