### configuration.yaml
# Configure a default setup of Home Assistant (frontend, api, etc)
---
default_config:

#### Dashboards ##################################
lovelace:
  mode: storage
  # Add yaml dashboards
  dashboards:
    ui-kiosk:
      mode: yaml
      title: Kiosk
      icon: mdi:monitor-dashboard
      show_in_sidebar: true
      filename: ui-kiosk/main.yaml
    ui-tricorder:
      mode: yaml
      title: Tricorder
      icon: mdi:cellphone-information
      show_in_sidebar: false
      filename: ui-tricorder/main.yaml

#### Logbook ##################################
logbook:
  exclude:
    entity_globs:
      - sensor.lastrx_*
      - sensor.rpi_*
    entities:
      - sensor.unifi_main_switch_uptime
      - sensor.fr24_aircraft
      - sensor.watchman_last_updated
      - sensor.template_wind_dir
      - sensor.brother_mfc_j995dw
      - sensor.rain_delay_time
      - sensor.us_8_desk_uptime
      - sensor.uap_iw_mbr_uptime
      - sensor.uap_iw_lr_uptime
      - sensor.uap_ac_office_uptime
      - sensor.u6_ext_crafts_uptime
      - sensor.unifi_router_uptime
      - sensor.usw_flex_mini_uptime
      - sensor.usw_flex_closet_uptime
      - sensor.usw_24_poe_uptime
      - sensor.comcast_uptime

#### Text to speech ##################################
tts:
  - platform: google_translate

#### Includes ##################################
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
homeassistant:
  whitelist_external_dirs:
    - /config/timelapses

#### Frontend ##################################
frontend:
  themes: !include_dir_merge_named themes
  extra_js_url_es5:
    - https://thejiraguy.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/6i46lu/b/8/c95134bc67d3a521bb3f4331beb9b804/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=864601d9

#### Recorder ##################################
recorder: !include recorder.yaml

#### HTTPS ##################################
http: !include http.yaml

#### Influx ##################################
influxdb: !include influxdb.yaml

#### OpenHASP ##################################
openhasp: !include openhasp.yaml

#### Command Line ##################################
command_line:
  - sensor:
      name: CPU Temp
      command: "cat /sys/class/thermal/thermal_zone0/temp"
      unique_id: cpu_temp
      unit_of_measurement: "°C"
      value_template: >
        {{ value | multiply(0.001) | round(1) }}

#### Template Sensors #############################################
template: !include template.yaml

#### Rest Sensors #############################################
rest: !include rest.yaml

#### MQTT Sensors #############################################
mqtt: !include mqtt.yaml

#### Plant Sensors #############################################
# plant: !include plant.yaml

#### ZHA Sensors #############################################
zha: !include zha.yaml

#### Filter Sensors #############################################
# filter: !include filter.yaml

#### Workday Sensors #############################################
# workday: !include workday.yaml

#### Workday Sensors #############################################
# time_date: !include time_date.yaml

#### Battery Notes #############################################
battery_notes:

#### For Timeplapse #############################################
ffmpeg:

#### Notificaitions #############################################
notify: !include notify.yaml

#### Camera Integrations #############################################
camera:
  - platform: ffmpeg
    input: rtsp://admin:Chargers1990@192.168.2.130:554/ch01/1
    name: Office
  - platform: ffmpeg
    input: "/media/multimedia/space_weather/latest_1024_0193.mp4"
    name: latest_1024_0193
  - platform: ffmpeg
    input: "/media/multimedia/space_weather/latest_1024_0335.mp4"
    name: latest_1024_0335

shell_command:
  esp32_gifify: "ffmpeg -loglevel 8 -r {{ framerate }} -f image2 -y -pattern_type glob -i '{{ input }}' {{ output }}"
  add_timestamp: "/config/add_timestamp.sh '{{ file }}' '{{ timestamp }}'"
  clean_folder: "/config/clean_folder.sh {{ folder }} {{ filetype }} {{ limit }}"

sensor:

  - platform: time_date
    display_options: "date"

  - platform: marta
    friendly_name: Rodney's Card
    card_number: 01640598761764599046

binary_sensor:

weather:
  - platform: template
    name: "Station"
    unique_id: "home_wx"
    condition_template: >
      {% if has_value('weather.kwdr_daynight') %}
        {{ states('weather.kwdr_daynight') }}
      {% else %}
        {{ states('weather.main_floor') }}
      {% endif %}
    temperature_template: "{{ states.sensor.outdoor_temp.state|float }}"
    temperature_unit: "°F"
    humidity_template: "{{ states.sensor.outdoor_humidity.state|float }}"
    pressure_template: "{{ states.sensor.relative_pressure.state|float }}"
    pressure_unit: "hPa"
    wind_speed_template: "{{ states.sensor.wind_acurite_5n1.state|float }}"
    wind_speed_unit: "mph"
    wind_bearing_template: "{{ states.sensor.wind_dir_acurite_5n1.state }}"
